<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TY.SPIMS.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="TYEnterprisesEntities" connectionString="metadata=res://*/TYModel.csdl|res://*/TYModel.ssdl|res://*/TYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQLSERVER2012;initial catalog=TYEnterprises;persist security info=True;user id=TYLogin;password=ty12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/>
  </appSettings>
</configuration>
